<div>
    <h1>Login</h1>
    <form action="" id="loginForm">
        <label for="email">Email</label>
        <input type="text" name="email">
        <br>
        <label for="password">Password</label>
        <input type="password" name="password">
        <br>
        <button type="submit">Log in</button>
        <button><a href="/auth/github">Log in with GitHub</a></button>
    </form>
</div>

<script src="/js/login.js"></script>